<h1>Showing Power Info:</h1>

<h3>Power Name: <%= @power.name %></h3>
<h4>Power Description: <%= @power.description %></h4>

<br><br>
<%= link_to 'Back to Heroine', heroines_path %>
<br><br>
<%= link_to 'Back to Power', powers_path %>