<h2>All Heroines</h2>
<!--<h4>Search By Superpower</h4>-->

<%# form_tag(heroines_path) do %>
  <%# text_field_tag  :q, params[:heroine][:superpower]%>

  <!--<datalist id="superpowers">
    <%# @powers.each do |power| %>
    <option value="<%# power.name %>">
    <%# end %>
  </datalist>

  <%# submit_tag 'Search' %>
<%# end %>
-->
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
<hr>
<h4><%= link_to 'Make a new Heroine', new_heroine_path %></h4>
<hr>
