<h1>Heroine</h1>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<h2>Name: <%= @heroine.name %></h2>
<h3>Super Name: <%= @heroine.super_name %></h3>
<h3>Power: <%= link_to @power.name, power_path(@power) %>
