
<h1><%= @heroine.super_name.capitalize %></h1>
<h3>Real name: <%= @heroine.name.capitalize %></h3>

<h4>Power: </h4><%# link_to heroine.power._name, power_path(power) %></h4>

<!--cannot access powers, my associations appear off, path is wrong -->