<h1> Heroine Info </h1>

<h3> Heroine's Name: <%= @heroine.name %> </h3>
<h3> Heroine's Super Name: <%= @heroine.super_name %> </h3>
<h3> Heroine's Super Powers <%= link_to heroine.powers power_path(@power) %>